input, button {
  margin: 5px;
  padding: 5px;
}

.main {
  display: flex;
  flex-direction: column;
}

.input-video {
  display:flex;
  justify-content: center;
  align-items: center;
}

.video-title {
  width: 30vw;
}

.video-url {
  width: 50vw;
}

.admin-video-list {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px 0;
  background-color: #f9
}

#adminVideoList {
  display: flex;             
  flex-wrap: wrap;          
  gap: 20px;                
}

#adminVideoList li {
  width: calc(50% - 10px);   
  box-sizing: border-box;    
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.delete-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
}

@media (max-width: 600px) {

  #adminVideoList {
    display: flex; 
    flex-direction: column;            
    justify-content: center;          
    gap: 10px;      
    overflow: hidden;          
  }  

  #adminVideoList li {
    width: 100%;  
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;  
    text-overflow: ellipsis;
  }

  .video-title,
  .video-url {
    width: 90%;  
    word-wrap: break-word;  
    white-space: normal;  
    overflow-wrap: break-word;  
  }

}