input {
  margin: 5px;
  padding: 5px;
}

.input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.video-title {
  width: 30vw;
}

.video-url {
  width: 50vw;
}

.admin-video-list {
  padding: 10px;
  border: 1.5px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow-y: none; /* スクロール可能にする */
}

.category-section {
  border: 2px solid #ddd; 
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
}

/* カテゴリータイトル */
.category-section h3 {
  background-color: #2a87d5; 
  color: #fff;  
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px; 
  text-transform: uppercase;
  font-weight: bold;
}

#adminVideoList {
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

#adminVideoList li {
  display: flex; 
  flex-wrap: wrap; /* アイテムが折り返し可能 */
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* タイトル部分 */
#adminVideoList li strong {
  font-weight: bold;
  margin-right: 10px;
  flex-grow: 1; /* 残りのスペースを埋める */
}

/* URL（テキストボックス） */
.video-url {
  width: 350px;
  padding: 5px;
  font-size: 14px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex-shrink: 0; /* URLが縮まないように */
}

/* 削除ボタン */
.delete-btn {
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #e53935;
}

@media (max-width: 600px) {

  #adminVideoList {
    display: flex; 
    flex-direction: column;            
    justify-content: center;          
    gap: 10px;      
    overflow: hidden;          
  }  

  #adminVideoList li {
    width: 100%;  
    padding: 15px;
    box-sizing: border-box;
    overflow: hidden;  
    text-overflow: ellipsis;
  }

  .video-title,
  .video-url {
    width: 90%;  
    word-wrap: break-word;  
    white-space: normal;  
    overflow-wrap: break-word;  
  }

}