* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; 
  color: #333; 
}

ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 10px 0;
}

h1, h2, h3 {
  color: #2c3e50;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;  
  align-items: center;             
  background-color: #fff;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.main { 
  padding: 30px;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  overflow-y: auto;
}

.footer {
  background-color: #f8f9fa; 
  text-align: center;       
  padding: 5px 20px;       
  font-size: 14px;          
  color: #6c757d;           
  border-top: 1px solid #e9ecef;
}

.footer p {
  margin: 5px 0; 
}

button {
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  background-color:rgb(174, 213, 255);
  color: #000;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color:rgb(1, 101, 208);
}


.password-icon {
  cursor: pointer;
}

#editUserModal, #deleteUserModal, #editVideoModal, #deleteVideoModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  display: none; /
  align-items: center; 
  justify-content: center; 
  z-index: 9999; 
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 90%; 
  max-width: 600px; 
  text-align: center;
}

#editUserForm {
  margin: 20px;
}

.modal-confirm-btn button {
  margin: 20px;
  font-size: 20px;
}

@media (max-width: 600px) {

  .video-section {
    width: 100%; 
    margin-bottom: 20px;
  }

  .footer {
    font-size: 12px; 
  }
}